#map-canvas{
    min-height: 500px;
    /* background: aqua; */
    margin-left: -15px;
    margin-right: -15px;
    /* margin-top: 70px; */
    position: relative;
    /* top: 0px; */
}
.tweet{
    margin-left: -15px;
    margin-right: -15px;
    /* margin-top: 70px; */
    position: relative;
    top: -40px;
    background: antiquewhite;
    max-height: 380px;
    overflow-y: scroll;   
}
.tweet-header{
    min-height: 70px;
    background: #67B0D0;
    text-align: center;
    position: relative;
    /* top: 50px; */
    margin-left: -15px;
    margin-right: -15px;
}

.tweet-heading{
    color: white;
    padding-top: 10px;
    font-size: 30px;
}

.tweet-heading::after{
    content: " ";
    border: solid 2px white;
    display: block;
    width: 45%;
    margin: 5px auto
}
.tweet-footer{
    min-height: 60px;
    background: #67B0D0;
    position: relative;
    top: -40px;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-heading{
    color: white;
    font-size: 20px;
    padding-left: 30%;
    padding-top: 18px;
}
.tweet_text{
    color: black;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: -5px;
    margin-top: 5px;
    direction: ltr;
}
.tweet_date{
    color: #667580;
    text-align: right;
    margin-right: 20px;
    margin-top: -10px;
    margin-bottom: -20px;
}
hr.hr-tweet{
    margin-bottom: 0px;
    margin-top: auto;
}